/*Variables*/

$roseColor : #C56183
$textColor : #030509
$blueColor : #D7EAFB

$logoFont : 'Pacifico', cursive
$textFont : 'Mako', sans-serif


/*classes to extend*/

%flex-container-centered
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: center

%flex-container-left
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: left

%flex-container-spaceBtw
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: space-between

%flex-container-spaceArd
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: space-around

%width-100
  width: 100%

%btn-pd-br-bsh
  border-radius: 20px
  box-shadow: 2px 2px #6c757d
  font-family: $textFont
  font-weight: bold

%paddingContenuPage
  padding-bottom: 10%