@use 'config'
@use 'general'

.wrapper-event-creation
  @extend %flex-container-centered
  @extend %width-100

.wrapper-event-creation header, main, form
  @extend %width-100
  @extend %flex-container-centered

.event-creation-form-first-cl
  width: 50%
  padding: 20px 60px
  align-items: flex-start

.event-creation-form-second-cl
  width: 50%
  padding: 20px 60px
  align-items: flex-start

#event-creation-btn-save-container
  width: 100%
  @extend %flex-container-spaceArd

.dates
  width: 100%

.dates fieldset
  width: 50%

/*Btns*/

.imgLoader
  background: config.$roseColor
  color: config.$textColor
  padding: 7px 20px
  @extend %btn-pd-br-bsh

.event-creation-btns-wrapper
  @extend %flex-container-spaceArd
  padding: 20px 25px

>.event-creation-btns-wrapper
  width: 30%

.dates
  @extend %flex-container-spaceArd
  padding: 15px 10px

>.dates
  width: 40%

/* Nav */

#event-creation-nav-wrapper
  background-color: transparentize(config.$roseColor, 0.6)!important


.form-control
  margin: 2px 3px





