@use 'config'
@use 'general'

.wrapper-event-creation
  @extend %flex-container-centered
  width: 50%

.wrapper-event-creation-overide
  width: 50% !important


.wrapper-event-creation header, main, form
  @extend %width-100
  @extend %flex-container-centered

.event-creation-form-first-cl
  width: 100%
  padding: 20px 60px
  align-items: flex-start

.event-creation-form-second-cl
  width: 50%
  padding: 20px 60px
  align-items: flex-start

#event-creation-btn-save-container
  width: 100%
  @extend %flex-container-spaceArd

.dates
  width: 100%

.dates fieldset
  width: 50%

/*Btns*/


.event-creation-btns-wrapper
  @extend %flex-container-spaceArd
  padding: 40px 25px

>.event-creation-btns-wrapper

  width: 30%

.dates
  @extend %flex-container-spaceArd
  padding: 15px 10px

>.dates
  width: 40%

/*Static*/
#event_enregistrer
  @extend %btn-configuration
  background-color: config.$blueSea

#event_publier
  @extend %btn-configuration
  background-color: config.$roseColor

#event_annuler
  @extend %btn-configuration
  background-color: config.$textColor
  color: #FFFFFF

/*Hovered*/

#event_enregistrer:hover
  background-color: #FFFFFF
  border: 2px solid config.$blueSea
  color: config.$blueSea
  transition: color,background-color,border .12s

#event_publier:hover
  background-color: #FFFFFF
  border: 2px solid config.$roseColor
  color: config.$roseColor
  transition: color,background-color,border .12s

#event_annuler:hover
  background-color: #FFFFFF
  border: 2px solid config.$textColor
  color: config.$textColor
  transition: color,background-color,border .12s



.form-control
  margin: 2px 3px

.create-event-header
  text-align: center


















