@use 'config'
@use 'general'





/*Infos*/

.disable-event-information
  font-size: 1rem
  font-family: config.$textFont

.disable-event-lbl
  font-weight: bold

/*Motif*/
.disable-event-motif
  width: 20%
  margin-top: 3rem


/*Btn*/
.disable-event-wrapper
  @extend %flex-container-centered

  width: 100%
  margin-top: 3rem


.disable-event-btns
  @extend %flex-container-spaceArd
  width: 30%
