@use 'config'

#mainBg
  background: url("../img/background.jpg") top center /* Chemin relatif au fichier .css */
  width: 100%
  height: 100vh
  background-size: cover
  position: relative
  margin-bottom: -90px

label, legend
  color: config.$textColor
  font-weight: bold
  font-family: config.$textFont
  text-shadow: 1px 1px white

h1
  margin: 2rem 0
  font-family: config.$textFont

.nav-menu a
  display: inline-block


.btn-group-lg > .btn, .btn-lg
  margin: 1rem

.alert
  margin-top: 1rem

footer

  width: 100%
  height: 2.5rem
  text-align: center
  background-color: config.$roseColor
  position: relative
  margin: 0
  bottom: 0

button
  padding: 10px 15px

  font-family: config.$textFont
  font-weight: bolder
  letter-spacing: 1px
  font-size: 1.5rem