@use 'config'
@use 'general'

.pageComplet
  width: 100%
  @extend %paddingContenuPage



.infos
  margin-top: 5%
  @extend %flex-container-right


.formComplet
  width: 100%
  @extend %flex-container-centered
  margin-top: 3%


#infos
  display: flex
  justify-content: flex-end
  text-align: left
  margin: 2rem
  @extend %flex-container-centered
  width: 100%

/***** Form à Gauche *****/
.formGauche
  width: 40%

.formListCampus
  width: 100%

.formSearch
  width: 100%

.formDate
  @extend %flex-container-spaceArd
  width: 100%


.formDate1
  width: 50%

.formDate2
  width: 50%

/***** Form à Droite *****/
.formDroit
  width: 50%
  padding-top: 4rem

>.formDroit
 width : 100%

.home-checkbox
  width: 40%
/***** Liste des sorties *****/

.listSortie
  overflow-y: scroll
  overflow-x: unset
  @extend %flex-container-centered
  margin-top: 5%

.btnCreaEvent
  margin-top: 3%

.width-50
  width: 50%

.dates-home
  @extend %flex-container-centered

>.home-content-form
  padding: 0 3px

