@use 'config'
@use 'general'

.pageComplet
  width: 100%
  height: 100vh
  @extend %paddingContenuPage

.infos
  margin-top: 5%
  @extend %flex-container-right

.home-user-info
  width: 30%
  padding: 10px 40px
  font-size: 1.25rem


.home-message-flash
  width: 100%
  text-align: center

.formComplet
  width: 100%
  @extend %flex-container-centered
  margin-top: 3%
  font-family: config.$textFont

.formComplet-item
  text-align: center
  text-transform: uppercase

.home-checkbox-wrapper
  display: flex
  justify-content: center


.home-checkbox
  width: 20%
  padding: 20px 0

#infos
  display: flex
  justify-content: flex-end
  text-align: left
  margin: 2rem
  @extend %flex-container-centered
  width: 100%

/***** Form à Gauche *****/
.formGauche
  width: 40%

.formListCampus
  width: 100%

.formSearch
  width: 100%

.formDate
  @extend %flex-container-spaceArd
  width: 100%


.formDate1
  width: 50%

.formDate2
  width: 50%

/***** Form à Droite *****/
.formDroit
  width: 50%
  padding-top: 4rem

>.formDroit
 width : 100%

/***** Liste des sorties *****/

.listSortie
  overflow-y: scroll
  overflow-x: unset
  @extend %flex-container-centered
  margin-top: 5%

.home-tbl-wrapper
  padding: 3rem 5rem


.btnCreaEvent
  margin-top: 3%


.dates-home
  @extend %flex-container-centered

>.home-content-form
  padding: 0 3px


.home-form-btn-search
  padding-top: 3.5rem
  margin-right: 4rem

.home-form-btn-search
  .form-group
    button
      width: 150px

.home-filters-not-checkbox
  display: flex
  justify-content: center

.home-filters-not-checkbox
  form
    width: 70%
    display: flex
    justify-content: space-around

.home-tbl
  width: 90%
  text-align: center

/*Btn down*/

go-down
  animation-duration: 3s
  animation-delay: 15s
  animation-name: glissement
  animation-iteration-count: infinite

@keyframes glissement
    from
      padding-top: 100%
      width: 300%


    to
      padding-top: 0%
      width: 100%




