@use 'config'
@use 'general'

.upProfileUser
  width: 50%
  padding: 20px 60px
  align-items: flex-start
  justify-content: center
  @extend %flex-container-centered

.recordBtn
  @extend %btn-pd-br-bsh

.cancelBtn
  @extend %btn-pd-br-bsh

