{% extends 'layout.html.twig' %}
{% block titrePage %}
{% endblock %}
{% block title %}Sortir.com | Connexion{% endblock %}
{% block bg %}mainBg{% endblock %}
{% block meta %}
        {% if is_granted("ROLE_USER") %}
            <meta http-equiv="refresh" content="0;URL=/projetSortir/public/event">
        {% endif %}
    {% endblock %}
    {% block mainSection %}
        {{ parent() }}
        <h1 class="welcome">Bienvenue<span class="point">.</span></h1>
        <form method="post">
            <div>
                <label for="inputPseudo">Pseudo</label>
                <input type="text" value="{{ last_username }}" name="PseudoOrMail" id="inputPseudo" class="form-control"
                       required
                       autofocus>
                <label for="inputPassword">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" required>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >
                
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Se souvenir de moi
                    </label>
                </div>
                

                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <button class="btn btn-lg btn-primary" type="submit">
                    Se connecter
                </button>
            </div>
        </form>

    {% endblock %}

{% block footer %} {% endblock %}