{% extends 'layout.html.twig' %}

{% block titrePage %}

{% endblock %}

{% block mainSection %}
    <h3>Voulez-vous vraiment supprimer le campus ?</h3>
    {{ form_start(deleteCampusForm) }}
    {{ form_widget(deleteCampusForm.Supprimer, {'attr':{'class':'btn-danger'}}) }}
    {{ form_end(deleteCampusForm) }}
{% endblock %}

