{% extends 'layoutDisplay.html.twig' %}

{% block title %}
    Admin | Campus
{% endblock %}

{% block mainSection %}
    <div class="delete-campus">
        <h3>Voulez-vous vraiment supprimer le campus <span class="point-logo">?</span></h3>
    </div>
    {{ form_start(deleteCampusForm) }}
    <div>
        {{ form_widget(deleteCampusForm.Supprimer, {'attr':{'class':'btn-danger'}}) }}
    </div>
    {{ form_end(deleteCampusForm) }}

    <footer class="home-footer">
        <p>Made with ❤️</p>
    </footer>
{% endblock %}

