{% extends 'layoutDisplay.html.twig' %}

{% block title %}
   Admin | Campus
{% endblock %}

{% block mainSection %}
    <div class="edit-campus-wrapper">
        <h3>Mettre à jour le campus</h3>
        {{ form_start(updateCampusForm) }}
        {{ form_widget(updateCampusForm.nomCampus, {'attr' : {'value': campus.nomCampus}}) }}
        {{ form_end(updateCampusForm) }}
    </div>
    <footer>
        <p>Made with ❤️</p>
    </footer>
{% endblock %}

