{% extends 'layout.html.twig' %}

{% block scrollableInfo %}
<main id="main">
    <section id="about" class="about">
        <div class="container connexion-wrapper">
            <!-- add form here -->
        </div>
    </section>
</main><!-- End #main -->
{% endblock %}


