@charset "UTF-8";
/*Variables*/
/*classes to extend*/
.disable-event-wrapper, #disable-event-header, .formComplet, #infos, .listSortie, .dates-home, .upProfileUser, .wrapper-event-creation, .wrapper-event-creation header, main, form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.infos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: right;
}

.disable-event-btns, .formDate, #event-creation-btn-save-container, .event-creation-btns-wrapper, .dates {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.wrapper-event-creation header, main, form {
  width: 100%;
}

.recordBtn, .cancelBtn {
  border-radius: 20px;
  box-shadow: 2px 2px #6c757d;
  font-family: "Mako", sans-serif;
  font-weight: bold;
}

.pageComplet {
  padding-bottom: 10%;
}

/*Ready to use*/
.width-100 {
  width: 100%;
}

.width-60 {
  width: 60%;
}

.width-50 {
  width: 50%;
}

.flex-centered {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-right {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: right;
}

.height-100 {
  height: 100%;
}

.upperCase {
  text-transform: uppercase;
}

.text-align {
  text-align: center;
}

.our-font {
  font-family: "Mako", sans-serif;
}

#mainBg {
  background: url("../img/background.jpg") top center;
  width: 100%;
  height: 100vh;
  background-size: cover;
  position: relative;
  margin-bottom: -90px;
}

body {
  height: 100vh;
}

label, legend {
  color: #030509;
  font-weight: bold;
  font-family: "Mako", sans-serif;
  text-shadow: 1px 1px white;
}

article {
  padding: 10px 0;
}

h1 {
  font-family: "Mako", sans-serif;
}

main {
  height: 100%;
}

.nav-menu a {
  display: inline-block;
}

.btn-group-lg > .btn, .btn-lg {
  margin: 1rem;
}

.alert {
  margin-top: 1rem;
  text-align: center;
}

.btn-primary a {
  color: #FFFFFF;
}

footer p {
  padding-top: 20px;
  color: #FFFFFF;
  letter-spacing: 2px;
}

button {
  padding: 10px 15px;
  font-family: "Mako", sans-serif;
  font-weight: bolder;
  letter-spacing: 1px;
  font-size: 1.5rem;
  /*Nav*/
}

#event-creation-nav-wrapper {
  display: flex;
  justify-content: space-between !important;
  background-color: #FFFFFF !important;
}

.nav-item {
  padding: 0 10px;
}

.navbar-brand h1 {
  font-family: "Pacifico", cursive;
}

.point {
  font-weight: bold;
  color: #0069B9;
  font-size: 3rem;
  font-family: "Pacifico", cursive;
}

.point-logo {
  color: #0069B9;
  font-family: "Pacifico", cursive;
}

footer {
  width: 100%;
  height: 4rem;
  margin-top: 10px;
  bottom: 0;
  text-align: center;
  background-color: #010207;
}

.edit-campus-wrapper {
  height: 100vh;
}

.wrapper-event-creation {
  width: 50%;
}

.wrapper-event-creation-overide {
  width: 50% !important;
}

.event-creation-form-first-cl {
  width: 100%;
  padding: 20px 60px;
  align-items: flex-start;
}

.event-creation-form-second-cl {
  width: 50%;
  padding: 20px 60px;
  align-items: flex-start;
}

#event-creation-btn-save-container {
  width: 100%;
}

.dates {
  width: 100%;
}

.dates fieldset {
  width: 50%;
}

/*Btns*/
.event-creation-btns-wrapper {
  padding: 40px 25px;
}

> .event-creation-btns-wrapper {
  width: 30%;
}

.dates {
  padding: 15px 10px;
}

> .dates {
  width: 40%;
}

.form-control {
  margin: 2px 3px;
}

.create-event-header {
  text-align: center;
}

.upProfileUser {
  width: auto;
  padding: 20px 60px;
  align-items: flex-start;
  justify-content: center;
}

.custom-file-input {
  opacity: unset;
  width: unset;
}

.custom-file-label {
  display: none;
}

.img-form {
  width: 300px;
  height: 300px;
  border-radius: 20% 10% 20% 10%;
}

.titre-h1-upProfil {
  width: 100%;
  text-align: center;
  margin-bottom: 75px;
}

.img\+form {
  display: contents;
}

.btn-upUser .form-group button {
  padding-top: 20rem;
}

.upProfileUser-btn {
  margin-left: 150px;
}

#up_profile_user_form_enregistrer {
  width: 150px;
}

.btn .btn-primary {
  width: 150px !important;
}

.btn-retour {
  margin-left: 9px;
  width: 150px;
}

.pageComplet {
  width: 100%;
  height: 100vh;
}

.infos {
  margin-top: 5%;
}

.home-user-info {
  width: 30%;
  padding: 10px 40px;
  font-size: 1.25rem;
}

.home-message-flash {
  width: 100%;
  text-align: center;
}

.formComplet {
  width: 100%;
  margin-top: 3%;
  font-family: "Mako", sans-serif;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 10;
}

.formComplet-item {
  text-align: center;
  text-transform: uppercase;
}

.home-checkbox-wrapper {
  display: flex;
  justify-content: center;
}

.home-checkbox {
  width: 20%;
  padding: 20px 0;
}

#infos {
  display: flex;
  justify-content: flex-end;
  text-align: left;
  margin: 2rem;
  width: 100%;
}

/***** Form à Gauche *****/
.formGauche {
  width: 40%;
}

.formListCampus {
  width: 100%;
}

.formSearch {
  width: 100%;
}

.formDate {
  width: 100%;
}

.formDate1 {
  width: 50%;
}

.formDate2 {
  width: 50%;
}

/***** Form à Droite *****/
.formDroit {
  width: 50%;
  padding-top: 4rem;
}

> .formDroit {
  width: 100%;
}

/***** Liste des sorties *****/
.listSortie {
  overflow-y: scroll;
  overflow-x: unset;
  margin-top: 10%;
  margin-bottom: 120px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.home-tbl-wrapper {
  padding: 3rem 5rem;
}

.btnCreaEvent {
  margin-top: 3%;
}

> .home-content-form {
  padding: 0 3px;
}

.home-form-btn-search {
  padding-top: 3.5rem;
  margin-right: 4rem;
}

.home-form-btn-search .form-group button {
  width: 150px;
}

.home-filters-not-checkbox {
  display: flex;
  justify-content: center;
}

.home-filters-not-checkbox form {
  width: 70%;
  display: flex;
  justify-content: space-around;
}

.home-tbl {
  width: 90%;
  text-align: center;
}

/*Btn down*/
.go-down {
  display: none;
}

.home-footer {
  margin-top: 40px;
  position: fixed;
  bottom: 0;
}

.delete-campus {
  padding-top: 150px;
  font-family: "Mako", sans-serif;
}

.thead-dark th {
  color: #FFFFFF;
  background-color: #343A40;
  border-color: #454D55;
}

.table-responsive-Campus {
  display: flex;
  justify-content: center;
  width: 500px;
  margin-top: -350px;
}

.edit-ville-wrapper {
  height: 100vh;
}

.titre-h1-campus {
  width: 100%;
  height: 10%;
  text-align: center;
  margin-top: 1%;
}

#recherche_campus {
  width: 500px;
  height: 100px;
  margin-top: -250px;
}

.titre-h1-ville {
  width: 100%;
  height: 10%;
  text-align: center;
  margin-top: 1%;
}

#recherche_ville {
  width: 560px;
  height: 100px;
  margin-bottom: 100px;
}

.delete-pic {
  display: none;
}

.sidebyside {
  display: flex;
  width: 100%;
  height: 200px;
  justify-content: center;
  margin-top: -250px;
}

.side {
  text-align: left;
  margin: 3rem;
}

.side p {
  margin: 1rem;
}

.displayPseudo {
  color: red !important;
}

.List-participants {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: -75px;
}

.titre-h5-participants {
  text-align: center;
}

.img-profil {
  border-radius: 20% 10% 20% 10%;
  height: 300px;
  width: 300px;
}

/*Infos*/
.disable-event-information {
  font-size: 1rem;
  font-family: "Mako", sans-serif;
  height: fit-content;
}

.disable-event-lbl {
  font-weight: bold;
}

/*Motif*/
.disable-event-motif {
  width: 100%;
  display: flex;
  justify-content: center;
}

.disable-event-motif .form-group {
  width: 20%;
  padding: 2rem 0;
}

/*Btn*/
.disable-event-wrapper {
  width: 100%;
}

.disable-event-btns {
  width: 30%;
  padding-top: 4rem;
  padding-right: 10px;
}

.disable-event-front-element-img {
  display: flex;
  z-index: 7;
  color: #FFFFFF;
}

.disable-event-asset {
  height: 100%;
  width: 50%;
}

.disable-event-asset img {
  height: 100%;
  position: absolute;
}

.disable-event-general-wrapper {
  justify-content: left !important;
}

#disable-event-header {
  text-align: center;
  padding: 4rem 0;
}

.navbar {
  background-color: #FFFFFF !important;
  color: #030509 !important;
  font-family: "Mako", sans-serif !important;
}

.wrapper-event-creation {
  width: 100%;
}

.disable-event-content {
  width: 100%;
}

.disable-event-main {
  width: 60%;
  display: flex;
  justify-content: center;
  height: 70%;
}

.edit-user-heading {
  width: 100%;
  text-align: center;
}

.addProfileUser * {
  width: 100%;
}

#edit-user-btn-item {
  width: 25%;
}

.edit-user-retour {
  width: 20%;
}

.upProfileUser-btn {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 4rem;
}

.upProfileUser-btn .form-group {
  width: 25% !important;
}

.edit-user-wrapper {
  padding-top: 5rem;
  margin-bottom: 60px;
  font-family: "Mako", sans-serif;
  width: 40%;
}

.add-user-btn {
  width: 20%;
}

.errorClass {
  font-size: 7rem;
  display: flex;
  justify-content: center;
  font-family: "Pacifico", cursive;
}

a:hover {
  text-decoration: none !important;
}

.error {
  display: flex;
  justify-content: center;
  font-family: "Pacifico", cursive;
  font-size: 2rem;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*# sourceMappingURL=ourstyle.css.map */
